<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561894638936-p46v08gth9bnag5612350kg144a0qi63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561894638936-p46v08gth9bnag5612350kg144a0qi63</string>
	<key>API_KEY</key>
	<string>AIzaSyD6t0-13snBEN1bUh6bD7zvHY4GLryQu1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>561894638936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.networkingapp</string>
	<key>PROJECT_ID</key>
	<string>networkingapp-c60e1</string>
	<key>STORAGE_BUCKET</key>
	<string>networkingapp-c60e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561894638936:ios:e99baee342773586</string>
	<key>DATABASE_URL</key>
	<string>https://networkingapp-c60e1.firebaseio.com</string>
</dict>
</plist>